$header-height: 7vh;
$sidebar-width: 20vw;
$main-bg: #01340b;

@mixin search-title {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 10px 0;           
}

//style for header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    padding: 0 20px;
    background-color: $main-bg;
    font-family: sans-serif;
    position: relative;

    .logo-wrap {
        width: 130px;

        .logo {
            outline: none;

            img {
                width: 100%;
            }
        }
    }
    
    .user-account {
        display: flex;
        align-items: center;
        white-space: nowrap;
        color: #d9d6d9;
        &:hover {
            color: #fff;
        }
        &:hover .user-account-link {
            color: #fff;
        }

        i {
            font-size: 30px;
            padding: 0 10px;
            cursor: pointer;
        }

        .user-account-link {
            color: #d9d6d9;
            text-decoration: none;
        }
    }
}

//style for main container
.wrap {
    display: flex;
    position: relative;

    .title-sidebar {
        @include search-title;
    }

//style for sidebar
    .sidebar {
        height: auto;
        width: $sidebar-width;
        font-family: sans-serif;
        font-size: 12px;
        padding: 0 20px 20px;

        .subtitle-sidebar {
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: #3f3f3f;
            padding-bottom: 10px;
        }

        .menu-list {
            text-decoration: none;
            border: 1px solid #ebebeb;
            
            .menu-list-item {
                display: flex;
                justify-content: space-between;
                position: relative;
                padding: 10px;
                border-bottom: 1px solid #ebebeb;
                text-transform: uppercase;
                cursor: pointer;
                &:hover .category {
                    color: #c2a476;
                }  
                &:hover {
                    color: #c2a476;
                }                    
                &:hover .drop-menu {
                    display: block;
                }

                .drop-menu {
                    display: none;
                    position: absolute;
                    right: -81%;
                    top: 0;
                    z-index: 1; 
                    width: 80%;
                    border: 1px solid #cccccc;
                    background-color: #ffffff;

                    .drop-menu-title {
                        font-size: 18px;
                        font-weight: 700;
                        color: #6d6d6d;
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        border-bottom: 1px solid #cccccc;
                    }

                    li {
                        text-transform: none;
                        margin: 10px;
                        &:hover a {
                            color: #c2a476;
                        }
                    }
                } 
                
                a {
                    font-size: 14px;
                    font-weight: 500;
                    text-decoration: none;
                    color: #3f3f3f;
                }
            }   
        }
    }

    .filter-wrap {
        font-family: sans-serif;
        font-size: 13px;
        padding: 20px;

        .filter {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: 1px solid #ebebeb;
            border-radius: 5px;
            padding: 10px;
            margin: 10px 0;
            cursor: pointer;

            .filter-icon {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        .filter-list {
            padding-left: 10px;

            li {
                margin: 10px 5px;
                cursor: pointer;
                &:hover {
                    color: #c2a476;
                }
            }          
        }

        .filter-list-author {
            display: none;
        }

        .filter-list-country {
            display: none;
        }

        .filter-list-cost {
            display: none;
        }
    }

    .collapsed-category-wrap {
        display: none;

        .collapsed-category {
            width: 80vw;
            box-sizing: border-box;
            border-radius: 5px;
            background-color: #10bbd5;
            color: #fff;
            font-size: 18px;
            font-family: sans-serif;
            text-align: center;
            padding: 10px;
            margin: 10px 0 5px;
            &:hover {
                background-color: #00acc1;
                cursor: pointer; 
            }

            i {
                margin: 0 10px;
            }
        }

        .collapsed-category-modal {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1; 
            justify-content: center;
            width: 100%;
            height: 100vh;
            background: #11111190;

            .collapsed-category-list {
                position: absolute;
                width: 80vw;
                margin-top: 5%;
                border: 1px solid #cacaca;
                border-radius: 5px;
                background-color: #fff;
                animation-name: slideIn;
                animation-duration: 0.5s;

                @keyframes slideIn {
                    from {top: -300px; opacity: 0}
                    to {top: 0; opacity: 1}
                }
                
                .collapsed-category-title {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    font-family: sans-serif;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 15px;
                    border-bottom: 1px solid #cccccc;

                    .collapsed-category-close-btn {
                        color: #cccccc;
                        border: 1px solid #01340b;
                        border-radius: 5px;
                        padding: 0 5px;
                        &:hover {
                            color: #01340b;
                            cursor: pointer;
                        }
                    }
                }

                .collapsed-category-list-item {             
                    li {
                        border-bottom: 1px solid #cccccc;
                        margin: 0 10px;
                        padding: 10px;
                        cursor: pointer;
                        &:hover {
                            border-bottom-color: #c2a476;;
                        }
                        &:hover a {
                            color: #c2a476;;
                        }
                        
                        a {
                            font-family: sans-serif;
                            text-decoration: none;
                            color: #111;
                        }
                    }

                    .collapsed-category-back-btn {
                        font-weight: 600;

                        i {
                            margin-right: 10px;
                        }
                    }
                } 
            }
        }  
    }

//style for main content
    .content {
        min-height: 100vh - $header-height;
        width: 100vw - $sidebar-width;
        padding: 20px;

        .search-result {
            @include search-title;
        }

        .wrong-search-result {
            color: #ec7263;
            font-family: sans-serif;
            margin-bottom: 20px;
        }

        .setting-search {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .sort-wrap {
                display: flex;

                .search-book-wrap {
                    width: 100%;
                    position: relative;

                    .search-book {
                        width: 100%;
                        padding: 10px 10px 10px 40px;
                        border: 1px solid #ebebeb;
                        border-radius: 5px;
                        outline: none;   
                    }

                    .search-icon {
                        position: absolute;
                        left: 10px;
                        top: 10px;
                    }
                }
            }
        
            .book-count {
                white-space: nowrap;
                label {
                    font-family: sans-serif;
                }
                select {
                    padding: 10px;
                    border-color: #ebebeb;
                    border-radius: 5px;
                    outline: none;
                    cursor: pointer;
                }
            }

        }

        .content-list {
            margin: 20px 0;
            display: flex;
            flex-wrap: wrap;

            .content-item-wrap { 
                border: 1px solid #ebebeb;    
                width: 15vw;
                height: 45vh;
                margin: 0 20px 20px 0;
                position: relative;
        
                .loader {
                    position: relative;
                    height: 85%;
                    width: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    div {
                        transform-origin: 32px 32px;
                        animation: lds-spinner 1.2s linear infinite;
                        &:after {
                            content: " ";
                            display: block;
                            position: absolute;
                            top: 3px;
                            left: 29px;
                            width: 5px;
                            height: 14px;
                            border-radius: 20%;
                            background: red;
                        }
                        &:nth-child(1) {
                            transform: rotate(0deg);
                            animation-delay: -1.1s;
                        }
                        &:nth-child(2) {
                            transform: rotate(30deg);
                            animation-delay: -1s;
                        }
                        &:nth-child(3) {
                            transform: rotate(60deg);
                            animation-delay: -0.9s;
                        }
                        &:nth-child(4) {
                            transform: rotate(90deg);
                            animation-delay: -0.8s;
                        } 
                        &:nth-child(5) {
                            transform: rotate(120deg);
                            animation-delay: -0.7s;
                        }
                        &:nth-child(6) {
                            transform: rotate(150deg);
                            animation-delay: -0.6s;
                        }
                        &:nth-child(7) {
                            transform: rotate(180deg);
                            animation-delay: -0.5s;
                        }
                        &:nth-child(8) {
                            transform: rotate(210deg);
                            animation-delay: -0.4s;
                        }
                        &:nth-child(9) {
                            transform: rotate(240deg);
                            animation-delay: -0.3s;
                        }
                        &:nth-child(10) {
                            transform: rotate(270deg);
                            animation-delay: -0.2s;
                        }
                        &:nth-child(11) {
                            transform: rotate(300deg);
                            animation-delay: -0.1s;
                        }
                        &:nth-child(12) {
                            transform: rotate(330deg);
                            animation-delay: 0s;
                        }
                    }
                    @keyframes lds-spinner {
                        0% {
                            opacity: 1;
                        }
                        100% {
                            opacity: 0;
                        }
                    }
                }
                 
                .content-item {
                    display: none;
                    flex-direction: column;
                    padding: 15px 20px;
                    font-family: sans-serif;
                    line-height: 24px;

                    &:hover {      
                        position: absolute;
                        z-index: 1;
                        box-shadow: 0 0 13px 0 rgba(0,0,0,.4);
                        border: 1px solid #a8cbeb;
                        background-color: #fff;
                        .description {
                            display: block;
                        }
                    }

                    img {
                        max-width: 100%;
                    }

                    a {
                        color: #111;
                        text-decoration: none;   
                    }
                    .book-title {
                        font-weight: 600;
                        margin-top: 10px;
                        box-sizing: content-box;
                        height: 3rem;
                        overflow: hidden;
                    }

                    .cost-wrap {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        font-family: sans-serif;
                        margin: 10px 0;

                        a {
                            color: #ff0072;
                            font-size: 18px;
                        }

                        button {
                            background: #10bbd5;
                            border: none;
                            border-radius: 10px;
                            padding: 10px;
                            white-space: nowrap;
                            margin: 0 10px;
                            &:hover {
                                cursor: pointer;
                                background: #29d5ef;
                            }

                            a {
                                color: #fff;
                                text-decoration: none;
                                font-size: 12px;
                            }
                        }
                    }

                    .description {
                        display: none;
                    }
                }
            }
        }
    }
}

//style for pagination
.pagination {
    display: flex;
    justify-content: center;

    .pagination-style {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5vh;
        height: 5vh;
        margin: 0 5px 30px;
        border: 1px solid #ebebeb;
        border-radius: 50px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
            background-color: #10bbd5;
            color: #fff;
        }
    }

    .pagination-wrap {
        display: flex;
    }

    .current-page {
        background-color: #10bbd5;
        color: #fff;
    }
}

//style for footer
.footer {
    background-color: $main-bg;
    padding: 0 10%;
    font-family: sans-serif;

    .footer-wrap {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;

        .footer-item {
            margin: 20px;

            .footer-title {
                font-size: 24px;
                font-weight: 500;
                letter-spacing: 1px;
                color: #fff;
                padding-bottom: 10px;
            }
            
            li {
                margin: 5px;

                a {
                    color: #d9d6d9;
                    text-decoration: none;
                    &:hover {
                        color: #fff;
                    }
                }
            }
            
            .footer-social {
                display: flex;
                justify-content: space-between;
                font-size: 30px;
            }
        }
    }

    .copywriter {
        color: #d9d6d9;
        font-size: 14px;
        text-align: center;
        padding: 10px 0;
    }   
}

//media query
@media only screen and (max-width: 1270px) {
    .wrap {
        .content {
            .content-list {
                .content-item-wrap {
                    width: 20vw;
                }
            }
        }
    }

    .footer {
        .footer-wrap {
            flex-wrap: wrap;
            justify-content: flex-start;       
        }
    }
  }

@media only screen and (max-width: 950px) {  
    .wrap {
        .content {
            .setting-search {
                align-items: baseline;
                
                .sort-wrap {
                    flex-direction: column;
        
                    .sort-book {
                        margin-bottom: 20px;
                    }
                }
            }

            .content-list {
                .content-item-wrap {
                    .content-item {
                        .cost-wrap {
                            flex-direction: column;
                            align-items: flex-start;
                            button {
                                margin: 5px 0;
                            }
                        }
                    }
                }
            }
        }   
    } 
}

@media only screen and (max-width: 768px) {
    .wrap {
        flex-direction: column;
        align-items: center;
        margin: 0;

        .title-sidebar {
            display: none;
        }

        .sidebar {
            display: none;
        } 

        .filter-wrap {
            width: 80vw;
            box-sizing: border-box;
            padding: 10px 0 0;

            .filter {
                border: none;
                background-color: #10bbd5;
                color: #fff;
                font-size: 18px;
                padding: 10px;
            }
        }

        .collapsed-category-wrap {
            display: block;

            .collapsed-category-modal {
                display: none;
            }
        } 
        
        .content {
            padding: 0 20px;

            .setting-search {
                flex-direction: column;

                .sort-wrap {
                    flex-direction: row;
                    width: 85%;
                    margin-bottom: 10px;    
                }
            }

            .content-list {
                .content-item-wrap {
                    width: 35vw;
                    height: 50vh;
                }
            }
        }
    }    
}

@media only screen and (max-width: 450px) {
    .wrap {
        .content {
            .content-list {
                justify-content: center;
                .content-item-wrap {
                    width: 65vw;
                    margin: 20px 0;
                    height: 50vh;
                }
            }
        }
    }
}
