.sign-up-wrap {
    background: #11111190;
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    animation-name: showSignUp;
    animation-duration: 0.6s;

    @keyframes showSignUp {
        from {left: -300px;}
        to {left: 0;}
    }

    .sign-up-form-wrap {
        background-color: #fff;
        width: 40vw;
        font-family: sans-serif;

        .sign-up-form-title {
            background-color: #05595a;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;

            h3 {
                color: #fff;
                font-weight: 700;
                font-size: 24px;
            }

            .close-sign-up {
                cursor: pointer;
                background-color: #fff;
                color: #05595a;
                font-weight: 900;
                width: 26px;
                height: 26px;
                border-radius: 5px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        
        .sign-up-inputs-container {
            display: flex;
            flex-direction: column;
            margin: 50px 0;
            align-items: center;

            .error-message {
                color: #FF0000;
            }

            .sign-up-input-wrap {
                position: relative;
                margin: 10px 0;
                width: 30vw;

                input {
                    border: 1px solid #e1e1e1;
                    padding: 10px  0 10px 20px;
                    font-size: 20px;
                    outline: none;
                    width: 30vw;
                    box-sizing: content-box;
                }

                i {
                    position: absolute;
                    font-size: 25px;
                    color: #e1e1e1;
                    top: 12px;
                    right: 0;
                }

                select {
                    border: 1px solid #e1e1e1;
                    padding: 10px  0 10px 20px;
                    font-size: 20px;
                    outline: none;
                    color: #757575;
                    width: 30vw;
                    box-sizing: content-box;
                }
            }

            .sign-up-check {
                a {
                    color: #111;
                    text-decoration: none;
                    font-size: 12px;
                }
            }

            .sign-up-btn {
                width: 20vw;
                padding: 10px;
                margin-top: 40px;
                white-space: nowrap;
                color: #fff;
                font-size: 24px;
                background-color: #0aa699;
                border: none;
                border-radius: 5px;
                outline: none;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .sign-up-wrap {
        .sign-up-form-wrap {
            width: 70vw;

            .sign-up-inputs-container {
                .sign-up-input-wrap {
                    width: 50vw;
                    input {
                        width: 50vw;
                    }

                    select {
                        width: 50vw;
                    }
                }
                .sign-up-btn {
                    width: 35vw;
                    box-sizing: border-box;
                }
            }
        }
    }
}

@media only screen and (max-width: 350px){
    .sign-up-wrap {
        .sign-up-form-wrap {
            width: 100vw;

            .sign-up-inputs-container {
                .sign-up-input-wrap {
                    width: 80vw;
                    input {
                        width: 80vw;
                    }

                    select {
                        width: 80vw;
                    }
                }
                .sign-up-btn {
                    width: 50vw;
                    box-sizing: border-box;
                }
            }
        }
    }
}